# build/: Repository that stores compiled code.
build/
!build/.keep

# Executables.
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Object files.
*.o
*.ko
*.obj
*.elf

# Executables in C with no file extension.
main
unit_test